# Default ignored files
/../../The Veterinary Clinic & Pet Wellness Portal /.idea/shelf/
/../../The Veterinary Clinic & Pet Wellness Portal /.idea/workspace.xml
# Editor-based HTTP Client requests
/../../The Veterinary Clinic & Pet Wellness Portal /.idea/httpRequests/
# Datasource local storage ignored files
/../../The Veterinary Clinic & Pet Wellness Portal /.idea/dataSources/
/../../The Veterinary Clinic & Pet Wellness Portal /.idea/dataSources.local.xml
